.header {
    padding: 50px 100px;
    text-align: center;
    background-color: #999;
    font-size: 32px;
}

.main {
    background-color: lightgreen;
    padding: 100px;
    font-size: 38px;
    color: #fff;
    text-align: center;
}

.footer {
    background-color: lightgray;
    padding: 100px;
    font-size: 38px;
    color: #fff;
    text-align: center;
}